#country-information{
  height: 750px;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
