h1{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 30px;
}
select {
  position: relative;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-image: linear-gradient(to right, rgba(213, 234, 246,1), rgba(213, 234, 246,0)70%);
  outline: none;
  font-size: 100%;
  margin: 11px;
}

#country-body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  /* border: 1px solid #000000; */
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

#country-information{
  text-align: left;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

#adjacent-country{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.head{
  justify-content: left;
  background-image: linear-gradient(to right, rgba(213, 234, 246,1), rgba(213, 234, 246,0)70%);
  border: 1px solid #dddddd;
  border-right: 0px;
  font-size: 20px;
}

.capital {
   text-transform: capitalize;
 }

.flex-tile {
  width: 300px;
  height: 150px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flex-tile:hover {
  background-color: rgba(255, 255, 255, 0.5);
